/*
 * @Author       : Pancake
 * @Date         : 2022-04-06 23:25:41
 * @LastEditTime : 2022-04-09 23:37:04
 * @LastEditors  : Pancake
 * @FilePath     : \Pancake-Q\docs\.vuepress\styles\palette.styl
 * @Description  : 只写变量
 */

// 主题颜色
// $vssue-theme-color
// 文字颜色 （用于普通文字）
// $vssue-text-color
// 浅色文字颜色 （用于备注等文字）
// $vssue-text-light-color
// 边框颜色
// $vssue-border-color
// 进度条颜色
// $vssue-progress-color
// 文字大小
// $vssue-font-size
// 字体
// $vssue-font-family
// 切换为移动端模式的屏幕宽度
// $vssue-breakpoint-mobile
// 文字方向 (ltr / rtl) （为 RTL 语言使用，如希伯来语等）
// $vssue-direction
$vssue-theme-color = #3178c6
$vssue-background-color=#f4f8fc